// COLORS
$color-midnight-green:  #014E56;
$color-light-caral:  #F67E7E;
$color-Rapture-blue: #79C8C7;
$color-Police-blue:  #2C6269;
$color-deep-jungle-green:  #004047;
$color-Sakramento:  #012F34;
$color-dark-green: #002529;

// FONTS
$font-stack: "Arial", sans-serif;
